<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="login-container">
        <h2>ログイン</h2>
       <form action="/login" method="post">
    <label for="character_Name">Character Name:</label>
    <input type="text" id="character_Name" name="character_Name" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>



        <p class="error-message">ログイン画面です。</p>

        <a href="/register">アカウント作成</a>
    </div>

</body>
</html>
