<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/menu.js"defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>RPG メニュー画面</title>
</head>

<body>

    <div class="menu-container">
        <div class="menu-header">
            <h1>メニュー画面</h1>
        </div>

        <div class="menu-content">
            <!-- Left Column -->
            <h2>キャラクター情報</h2>
            <div class="menu-section character-selection">
                <h3>ステータス表示</h3>

                <p>プレイヤー名: <span th:text="${characterName}"></span></p>
                <p>レベル: <span th:text="${characterLevel}"></span></p>
                <p>所持金: <span th:text="${characterGold}"></span></p>
                <p>HP: <span th:text="${characterHP}"></span>/<span th:text="${maxHP}"></span></p>
                <p>MP: <span th:text="${characterMP}"></span>/<span th:text="${maxMP}"></span></p>
                <p>攻撃力: <span th:text="${characterAttack}"></span></p>
                <P>魔法攻撃力: <span th:text="${characterMagicAttack}"></span></P>
                <p>防御力: <span th:text="${characterDefense}"></span></p>
                
                
            </div>
    	<!-- 装備を外すボタン -->
            <div class="menu-section">
                <button id="removeEquipmentButton" class="button">装備を外す</button>
            </div>
            
        <div>
            <h2>所持アイテムと装備</h2>
            <div>
                <!-- アイテムセクション -->
                <h3>アイテム</h3>
                <table>
                    <!-- テーブルヘッダー -->
                    <tr>
                        <th>アイテム名</th>
                        <th>｜</th>
                        <th>所持数</th>
                        <th>｜</th>
                        <th>効果</th>
                        
                    </tr>
                    <!-- テーブル行 -->
                    <tr th:each="item : ${playerItemMap}" onclick="showItemDetails(this)" th:data-type="${item.value.itemType}">
                        <td th:text="${item.key}"></td>
                        <th>｜</th>
                        <td th:text="${item.value.itemQuantity}"></td>
                        <th>｜</th>
                        <td th:text="${item.value.itemEffect}"></td>
                        
                    </tr>
                </table>
                <div id="itemDetails">
                    <!-- アイテムの詳細はここに表示されます -->
                </div>
            </div>
            <h3>装備</h3>
            <table>
                    <!-- テーブルヘッダー -->
                    <tr>
                        <th>装備名</th>
                        <th>｜</th>
                        <th>所持数</th>
                        <th>｜</th>
                        <th>効果</th>
                       
                    </tr>
                    <!-- テーブル行 -->
				<tr th:each="equipment : ${playerEquipmentMap}" onclick="showEquipmentDetails(this)"th:data-type="${equipment.value.equipmentType}">
					<td th:text="${equipment.key}"></td>
				<th>｜</th>
				<td th:text="${equipment.value.equipmentQuantity}"></td>
				<th>｜</th>
				<td th:text="${equipment.value.equipmentEffect}"></td>
				</tr>
				</table>
				 <div id="equipmentDetails">
                    <!-- 装備の詳細はここに表示されます -->
                </div>
        </div>

       
    </div>

 
 <button id="returnToLoginButton" class="button" onclick="returnToLogin()">フィールドに戻る</button>
   

 
</body>

</html>
