<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>村のページ</title>
    <link rel="stylesheet" href="/css/mura.css">
    <script src="/js/mura.js"></script>
</head>
<body>
<div id="itemDetails"></div>


    <h2>村へようこそ</h2>


<!-- アイテム一覧表示 -->
<h3>アイテム一覧</h3>
<div class="item-list-container">
    <ul id="itemList" class="item-list">
        <!-- アイテム名をクリックすると詳細を表示 -->
        <li th:each="item : ${itemList}" th:text="${item}" onclick="showItemDetails(this.innerText)"></li>
    </ul>
</div>
<hr>
<!-- 装備一覧表示 -->
<h3>装備一覧</h3>
<div class="equipment-list-container">
    <ul id="equipmentList" class="equipment-list">
        <!-- 装備名をクリックすると詳細を表示 -->
        <li th:each="equipment : ${equipmentList}" th:text="${equipment}" onclick="showEquipmentDetails(this.innerText)"></li>
    </ul>
</div>
<div id="itemDetailsContainer" class="details-container">
        <h2 id="itemName"></h2>
        <p id="itemEffect"></p>
        <p id="purchasePrice"></p>
        <label for="purchaseQuantity">数量:</label>
        <select id="purchaseQuantity" name="quantity" required>
            <!-- You may dynamically populate this dropdown in JavaScript based on the available quantity -->
            <!-- For simplicity, let's assume a maximum quantity of 10 -->
            <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}"></option>
        </select>
        <button type="button" onclick="purchaseItem()">アイテム購入</button>
    </div>

    <div id="equipmentDetailsContainer" class="details-container">
        <h2 id="equipmentName"></h2>
        <p id="equipmentEffect"></p>
        <p id="purchasePriceEquipment"></p>
        <label for="purchaseQuantityEquipment">数量:</label>
        <select id="purchaseQuantityEquipment" name="quantity" required>
            <!-- You may dynamically populate this dropdown in JavaScript based on the available quantity -->
            <!-- For simplicity, let's assume a maximum quantity of 10 -->
            <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}"></option>
        </select>
        <button type="button" onclick="purchaseEquipment()">装備購入</button>
    </div>
    
    <h3>所持アイテム一覧</h3>
<div class="player-items-container">
    <ul id="playerItemList" class="player-item-list">
        <li th:each="playerItem : ${playerItems}">
            <span th:text="${playerItem.item_name}"></span>
            <span th:text="'（所持数：' + ${playerItem.item_quantity} + '）'"></span>
        </li>
    </ul>
</div>

<div id="sellButton" style="display: none;">
    <label for="sellQuantity">売却数量:</label>
    <select id="sellQuantity" name="quantity" required></select>
    <button type="button" onclick="sellItem()">アイテム売却</button>
</div>
</body>
</html>
