<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オープニング画面</title>
    <link rel="stylesheet" href="/css/opening.css"> <!-- Link to the CSS file -->
</head>

<body>
    <div id="title">Imaクエスト</div>
    <div id="story">＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</div>
    <div id="skipButton" onclick="skipOpening()">Skip</div>

    <script src="/js/opening.js"></script> <!-- Link to the JS file -->
</body>

</html>
