/* opening.css */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(128, 255, 255);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    cursor: pointer;
}

#story {
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
}

#skipButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
}
